.t{
    color: white;
    background-color: Black; 
    border: none;
    cursor: pointer;
}

.t:active{
    color: white;
    background-color: rgb(0, 190, 0);
    
}

.t:hover{
    color: white;
    background-color: blue;
}
